<br>

<div id="homeContent" class="pull-right" >
  <%=simple_format( @page.content_for(:body) )%>
</div>

<style>
  #page_container {
    background-image: url( "<%= image_url('homecover.jpg') %>" ) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    background-color: #2f363d;
    height: 1500px;
    overflow: scroll;
  }
  h1, h2, h3, p {
    color: whitesmoke !important;
  }
  #homeContent {
    margin-top: 25em;
  }

</style>
